In [26]:
import numpy as np
import pandas as pd 
import requests
import pandas as pd
from path import Path

In [33]:
btc_df = pd.read_csv(
    Path("Resources/historical_data_bitcoin.csv"))
eth_df = pd.read_csv(
    Path("Resources/historical_data_ethereum.csv"))
ada_df = pd.read_csv(
    Path("Resources/historical_data_cardano.csv"))

In [34]:
btc_df.head()

,Date,Price (Close),Marketcap Dominance,Volatility,Active Addresses Count,Addresses with balance greater than $100K,Average Transaction Fees
0,2022-11-12,16902.437540,NaN,0.768576,NaN,NaN,NaN
1,2022-11-11,17027.298053,37.397954,0.783906,964454.0,211623.0,1.293462
2,2022-11-10,17556.011672,37.564432,0.748417,1056871.0,214833.0,1.434724
3,2022-11-09,15884.702615,37.907971,0.613921,1076579.0,200223.0,1.380111
4,2022-11-08,18547.764683,37.795770,0.491753,1051006.0,220906.0,1.370737

In [35]:
eth_df.head()

,Date,Price (Close),Marketcap Dominance,Volatility,Active Addresses Count,Addresses with balance greater than $100K,Average Transaction Fees
0,2022-11-12,1272.529120,NaN,1.148067,NaN,NaN,NaN
1,2022-11-11,1285.965877,17.589981,1.148677,508831.0,58957.0,3.597904
2,2022-11-10,1295.875437,16.626569,1.195470,494969.0,59175.0,5.325952
3,2022-11-09,1103.946357,17.382468,0.925252,510135.0,51909.0,6.025663
4,2022-11-08,1334.736734,18.347879,0.800867,478829.0,59703.0,6.821070

In [36]:
ada_df.head()

,Date,Price (Close),Marketcap Dominance,Volatility,Active Addresses Count,Addresses with balance greater than $100K,Average Transaction Fees
0,2022-11-12,0.344099,NaN,1.044591,NaN,NaN,NaN
1,2022-02-19,NaN,NaN,0.791088,177722.0,23817.0,0.369003
2,2022-02-20,NaN,NaN,0.790735,230015.0,22134.0,0.307771
3,2021-08-28,2.849475,5.106208,1.268181,138728.0,60266.0,0.622318
4,2021-08-30,2.736199,4.986402,1.279403,136707.0,59188.0,0.582567